<div class="form-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-offset-3">
        <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name, label: 'Cocktail name:' %>
        <%= f.submit %>
      <% end %>

    </div>
  </div>
</div>

